@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Salsa", "cursive";}
body
{
    background-image: url('https://cdn.discordapp.com/attachments/1195410943853727825/1195633785543331871/tumblr_mv0v3x2iyl1rg61o6o1_500.gif');
    background-color: rgb(0, 0, 0);
       background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	-moz-background-size: cover; 
	-webkit-background-size: cover; 
	-o-background-size: cover; 			
	background-size: 2200px;    
}

.navbar ul{
    align-items: center;
    display: flex;
    padding: 5px;
    margin: 0;
    justify-content: center;
}

.navbar ul li{
    align-items: center;
    display: flex;
    padding: 5px;
    margin: 0;
    justify-content: center;
}

.navbar ul li a{
    background-color: black;
    align-items: center;
    display: flex;
    padding: 5px;
    margin: 0;
    justify-content: center;
}
.container a{
 align-items: center;
    display: flex;
    padding: 5px;
    margin: 0;
    justify-content: center;
}
.container a ul{
 align-items: center;
    display: flex;
    padding: 5px;
    margin: 0;
    justify-content: center;
}
.container a ul li{
 align-items: center;
    display: flex;
    padding: 5px;
    margin: 0;
    justify-content: center;
}

.navbar-brand
{

    justify-content: center;
    width: 100px;
    height: 100%;
}

.card-body{

    display: flex;
    padding: 5px;
    margin: 0;
    justify-content: center;
}

@keyframes rainbow{
    100%{
        background-position: 0 30em;
    }
}

h2{
    color: transparent;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 27%;
    font-family: "Poppins",sans-serif;
    font-size: 100px;
    letter-spacing: 0.05em;
    background: linear-gradient(
        #fd004c 16.7%,
        #fe9000 16.7%,
        #fe9000 33.4%,
        #fff020 33.4%,
        #fff020 50.1%,
        #3edf4b 50.1%,
        #3edf4b 66.8%,
        #3363ff 66.8%,
        #3363ff 83.5%,
        #b102b7 83.5%,
        #00ffea 100%
    );
    -webkit-text-stroke: 0.04em #9e4e28;
    -webkit-background-clip: text;
            background-clip: text;
    line-height: 1.1em;
    animation: rainbow 50s linear infinite;
}
h1{
    color: transparent;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 20%;
    font-family: "Poppins",sans-serif;
    font-size: 100px;
    letter-spacing: 0.05em;
    background: linear-gradient(
        #fd004c 16.7%,
        #fe9000 16.7%,
        #fe9000 33.4%,
        #fff020 33.4%,
        #fff020 50.1%,
        #3edf4b 50.1%,
        #3edf4b 66.8%,
        #3363ff 66.8%,
        #3363ff 83.5%,
        #b102b7 83.5%,
        #00ffea 100%
    );
    -webkit-text-stroke: 0.04em #849c2d;
    -webkit-background-clip: text;
            background-clip: text;
    line-height: 1.1em;
    animation: rainbow 50s linear infinite;
}

.input-group {
    margin: 10px 0px 10px 0px;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  .input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  .btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
  }